#fruit-rage-minimax-game-grid {
	margin-top: 10px;
}
#fruit-rage-minimax-game-grid th, td {
    /*border: 1px solid black;*/
}
#fruit-rage-minimax-game-grid td {
	width: 50px;
	height: 50px;
	text-align: center;
}
.fruit-image {
	width: 50px;
	height: 50px;
}
.fruit-cell-hide-image {
	display: block;
    opacity: 0;
    /*-webkit-transition: opacity 2s;*/
}
.fruit-cell-display-image {
	display: block;
	opacity: 1;
    /*-webkit-transition: opacity 2s;*/
}
.player-details {
	margin-top: 10px;
	text-align: center;
}
.color-blue {
	text-align: center;
	color: blue;
}
.color-red {
	text-align: center;
	color: red;
}
.color-green {
	text-align: center;
	color: green;
}
.font-weight-bold {
	font-weight: bold;
}
.text-align-center {
	text-align: center;
}