<div class="container">
	<div class="row">
		<div class="h6 col-xl-2 col-lg-2 col-md-3 col-sm-4 col-6">GRID SIZE</div>
		<div class="h6 col-xl-2 col-lg-2 col-md-3 col-sm-4 col-6">FRUIT TYPES</div>
	</div>
	<div class="row">
		<div class="btn-group col-xl-2 col-lg-2 col-md-3 col-sm-4 col-6" role="group" aria-label="Basic example">
	  		<button type="button" id="decrease-grid-size" class="btn btn-secondary" (click)="decreaseGridSize()"><i class="fa fa-minus-circle" aria-hidden="true"></i></button>
			<button type="button" class="btn btn-secondary">{{("0"+size).slice(-2)}}</button>
			<button type="button" id="increase-grid-size" class="btn btn-secondary" (click)="increaseGridSize()"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
		</div>
		<div class="btn-group col-xl-2 col-lg-2 col-md-3 col-sm-4 col-6" role="group" aria-label="Basic example">
	  		<button type="button" id="decrease-fruit-types" class="btn btn-secondary" (click)="decreaseFruitTypes()"><i class="fa fa-minus-circle" aria-hidden="true"></i></button>
			<button type="button" class="btn btn-secondary">{{("0"+fruits).slice(-2)}}</button>
			<button type="button" id="increase-fruit-types" class="btn btn-secondary" (click)="increaseFruitTypes()"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
		</div>
	</div>
	
	<table id="fruit-rage-minimax-game-grid">
	  <tbody>
	    <tr *ngFor="let row of board; let i = index">
	      <td 	id="{{board[i][j].id}}" *ngFor="let col of row; let j = index" 
	      		(mouseenter) ="mouseEnter(i, j) "  
	      		(mouseleave) ="mouseLeave()" 
	      		(click) = "onGridCellClick(i, j)"
	      		[ngStyle]="{ 'background-color': board[i][j].background_color }" >
	      	<img 	class="fruit-image" 
	      			[src]="board[i][j].value >= 0 ? ('assets/icons/' + board[i][j].value + '.ico') : ''" 
	      			[alt]="board[i][j].value" 
	      			[ngClass]="board[i][j].image_class"/>
	      </td>
	    </tr>
	  </tbody>
	</table>
	<!--
	<div class="row">
		<div class="h6 col-xl-2 col-lg-2 col-md-3 col-sm-4 col-6">
			<button type="button" class="btn btn-outline-primary" 
			[ngStyle]="{ 'margin-top':'15px' } "
			(click) = "startGame()"
			>PLAY</button>
		</div>
	</div>
	-->
	<div class="row player-details">
		<div class="h6 col-xl-2 col-lg-2 col-md-3 col-sm-4 col-6 font-weight-bold">PLAYER SCORE</div>
		<div class="h6 col-xl-2 col-lg-2 col-md-3 col-sm-4 col-6 font-weight-bold">AI AGENT SCORE</div>
	</div>
	<div class="row">
		<div class="btn-group col-xl-2 col-lg-2 col-md-3 col-sm-4 col-6" role="group" aria-label="Basic example">
	  		<button type="button" class="btn btn-secondary">
	  			<span class="h6 color-blue">{{("00"+player_score).slice(-3)}}</span>
	  		</button>
			<button type="button" class="btn btn-secondary">
				<span class="h6 color-red">{{("00"+player_score).slice(-3)}}</span>
			</button>
			<button type="button" class="btn btn-secondary">
				<span class="h6 color-green">{{("00"+player_score).slice(-3)}}</span>
			</button>
		</div>
		<div class="btn-group col-xl-2 col-lg-2 col-md-3 col-sm-4 col-6" role="group" aria-label="Basic example">
	  		<button type="button" class="btn btn-secondary">
	  			<span class="h6 color-red">{{("00"+ai_agent_score).slice(-3)}}</span>
	  		</button>
			<button type="button" class="btn btn-secondary">
				<span class="h6 color-blue">{{("00"+ai_agent_score).slice(-3)}}</span>
			</button>
			<button type="button" class="btn btn-secondary">
				<span class="h6 color-green">{{("00"+ai_agent_score).slice(-3)}}</span>
			</button>
		</div>
	</div>
</div>
