<div class="myDiv">
    <div class="bg"></div>
    <div class="about-me-details">I'm Koustav, a full-stack application developer, a passionate competitive coder and a hackathon enthusiast.</div>
    <div class="about-me-details">
    	<a href="https://www.linkedin.com/in/koustav-mukherjee/" target="_blank">
    		<i class="fa fa-linkedin-square"></i>
    	</a>
    </div>
    <div class="about-me-details" style="margin-left: 50px;">
    	<a href="https://github.com/koustavmukherjee" target="_blank">
    		<i class="fa fa-github"></i>
    	</a>
    </div>
    <div class="about-me-details" style="margin-left: 100px;">
    	<a href="https://www.facebook.com/koustav.mukherjee.77" target="_blank">
    		<i class="fa fa-facebook-square"></i>
    	</a>
    </div>
    <div class="about-me-details" style="margin-left: 150px;">
    	<a href="mailto:mukherjee.koustav@gmail.com" target="_blank">
    		<i class="fa fa-envelope-square"> </i>
    	</a>
    </div>
</div>